.main{
background-image: url('../../public/bg_blog.png');
background-color: white;
background-repeat: no-repeat;
background-position: right top;
}

.title{
  font-size: 4rem;
  height: 120px;
  font-weight: bolder;
  padding-top: 50px;
}

.h1{
  font-size: 2em;
  font-weight: lighter;

  margin-bottom: 20px;
}
.h2{
  font-size: 1.3rem;
}

.container{
  max-width: 90vh;
  margin: auto 5%;
  position: relative;
  height: 600px;
  padding-top:  2px ;
}
.post{
  padding-left: -1%;
  margin-bottom: 20px;
}
@media screen and (max-width: 800px) {
  .title{
    font-size: 2rem;
  }
  .main{
     background: none;
    }
}